<% set_meta_tags title: 'Web App Look' %>
<%= render 'shared/active_palette' %>
<div class="md:w-3/4 mx-auto">
  <div class="my-5">
    <% @palette_seconds.each do |palette_second| %>
      <%= render partial: 'shared/unablecolor2', locals: {palette_second: palette_second} %>
    <% end %>
  </div>
  <div class="">
    <%= paginate @palette_seconds %>
  </div>
</div>