<%= @user.name %>様

<p>いつもMyPaletteをご利用ありがとうございます。</p>

<p>パスワード再発行のご依頼を受け付けました。</p>
<p>パスワードを再設定するには以下のリンクをクリックしてください。</p>
<%= link_to "#{@url}", @url %>

<p>このメールに覚えのない場合は、このメールを無視するか削除していただきますようお願いします。</p>