<div class="md:w-3/4 my-5 mx-auto">
  <div class="mx-auto">
    <% @palettes.each do |palette| %>
      <%= render partial: 'shared/unablecolor', locals: {palette: palette} %>
    <% end %>
  </div>
  <div class="">
    <%= paginate @palettes %>
  </div>
</div>
