<div class="flex my-5">
  <div class="text-center w-1/2">
    <%= link_to "Web Site Look", mypage_palettes_path, class: "p-1 block #{active_if('mypage/colors')}", data: {"turbolinks" => false} %>
  </div>
  <div class="text-center w-1/2">
    <%= link_to "Web App Look", mypage_palette_seconds_path, class: "p-1 block #{active_if('mypage/color_seconds')}", data: {"turbolinks" => false} %>
  </div>
</div>