<div class =" w-full">
  <button class="text-white my-2 w-12">
    <%= link_to '削除', palette_second_path(palette_second),class:"bg-red-500 hover:bg-red-400 px-2 py-2 rounded", method: :delete, data: { confirm: "削除してもよろしいですか" } %>
  </button>
</div>