<header class="flex items-center justify-between flex-wrap bg-white-300 p-6">

  <div class="flex items-center flex-shrink-0">
    <span class="font-semibold text-xl tracking-tight">SampleApp</span>
  </div>

  <div class="hidden md:visible block flex md:flex lg:items-center lg:w-auto mr-1">
    <div>
      <a class="mt-0 inline-block text-sm px-4 py-2 ">About</a>
      <a class="mt-0 inline-block text-sm px-4 py-2 ">Products</a>
      <a class="mt-0 inline-block text-sm px-4 py-2 ">News</a>
      <a class="mt-0 inline-block text-sm px-4 py-2 border rounded-full">Contact</a>
    </div>
  </div>

</header>


<main class="bg-blue-100 px-10 py-10">
  <div class="text-center">
    <h2 class=" text-2xl font-bold">Products</h2>
    <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
  </div>
  <div class="sm:flex px-6 py-6">
    <div class="p-6 m-6 bg-white">
      <%= image_tag 'undraw_By_my_car_re_eyri.png' %>
      <h2 class="text-center text-xl font-bold my-2">Products</h2>
      <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="p-6 m-6 bg-white">
      <%= image_tag 'undraw_By_my_car_re_eyri.png' %>
      <h2 class="text-center text-xl font-bold my-2">Products</h2>
      <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="p-6 m-6 bg-white">
      <%= image_tag 'undraw_By_my_car_re_eyri.png' %>
      <h2 class="text-center text-xl font-bold my-2">Products</h2>
      <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
  </div>
</main>


<footer class="bg-green-100 px-10 py-10">
  <div class="grid grid-cols-3">

    <div class="">
      <div class="font-bold mb-5 lg:text-xl">SampleApp</div>
      <div class="text-xs">© 2022 MyPalette</div>
    </div>

    <div class= "flex-cols">
      <div>
        <a class="mt-0 inline-block text-sm px-4 py-2 ">About</a>
      </div>
      <div>
        <a class="mt-0 inline-block text-sm px-4 py-2 ">Products</a>
      </div>
      <div>
        <a class="mt-0 inline-block text-sm px-4 py-2 ">News</a>
      </div>
    </div>

    <div class="">
      <a class="mt-0 inline-block text-xl px-6 py-2 border rounded-full">Contact</a>
    </div>

  </div>
</footer>