<header class="flex items-center justify-between flex-wrap bg-white-300 p-6">

  <div class="flex items-center flex-shrink-0">
    <span class="main-change font-semibold text-xl tracking-tight">SampleApp</span>
  </div>

  <div class="hidden md:visible block flex md:flex lg:items-center lg:w-auto mr-1">
    <div>
      <a class="mt-0 inline-block text-sm px-4 py-2 ">About</a>
      <a class="mt-0 inline-block text-sm px-4 py-2 ">Products</a>
      <a class="mt-0 inline-block text-sm px-4 py-2 ">News</a>
      <a class="main-change-bg mt-0 inline-block text-sm px-4 py-2 border rounded-full">Contact</a>
    </div>
  </div>

</header>


<main class="">

  <div class="">
    <div class="main-container parent">
      <div class="bg-white child p-4 text-center">
        <h2 class=" text-3xl font-bold">Lorem Ipsum</h2>
        <p class="py-2">Lorem Ipsum is simply dummied text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        <button class="text-md px-5 py-1 my-2 border rounded-full text-center">Read more</button>
      </div>
    </div>
  </div>

  <div class="bg-green-100 px-10 py-10">
    <div class="sm:flex py-6">
      <div class="parent1 md:w-3/6 my-auto mx-auto">
        <div class="child-img">
          <%= image_tag 'room.jpeg' %>
        </div>
        <div class="main-change-bg child1 bg-white"></div>
      </div>
      <div class="m-10 md:w-3/6">
        <h2 class="main-change text-2xl lg:text-3xl font-bold my-2">About us</h2>
        <h2 class="text-3xl lg:text-5xl font-bold lg:py-8">Your App looks fancy like these color combination.</h2>
        <p class="py-2">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p class="py-2">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <div class="py-2">
          <button class="text-md px-5 py-1 my-2 border rounded-full text-center">Read more</button>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-blue-100 px-5 py-10">
    <div class="text-center">
      <h2 class=" text-2xl font-bold">Products</h2>
      <p class="py-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="sm:flex  py-6">
      <div class="p-6 m-6 bg-white">
        <%= image_tag 'undraw_By_my_car_re_eyri.png' %>
        <h2 class="text-center text-xl font-bold my-2">Products</h2>
        <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        <div class="text-center">
          <button class="text-md px-5 py-1 my-2 border rounded-full text-center">Read more</button>
        </div>
      </div>
      <div class="p-6 m-6 bg-white">
        <%= image_tag 'undraw_By_my_car_re_eyri.png' %>
        <h2 class="text-center text-xl font-bold my-2">Products</h2>
        <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        <div class="text-center">
          <button class="text-md px-5 py-1 my-2 border rounded-full text-center">Read more</button>
        </div>
      </div>
      <div class="p-6 m-6 bg-white">
        <%= image_tag 'undraw_By_my_car_re_eyri.png' %>
        <h2 class="text-center text-xl font-bold my-2">Products</h2>
        <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        <div class="text-center">
          <button class="text-md px-5 py-1 my-2 border rounded-full text-center">Read more</button>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white lg:px-40 py-10">
    <div class="text-center">
      <h2 class="main-change text-2xl font-bold">News</h2>
      <p class="py-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="p-6 text-center">
      <div class="">
        <ul>
          <li class="py-3 my-3 border-b">
            <span>2023.01.01</span>
            <span class="main-change-bg border p-1 rounded mx-3">product</span>
            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
          </li>
          <li class="py-3 my-3 border-b">
            <span>2023.01.01</span>
            <span class="main-change-bg border p-1 rounded mx-3">product</span>
            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
          </li>
          <li class="py-3 my-3 border-b">
            <span>2023.01.01</span>
            <span class="main-change-bg border p-1 rounded mx-3">product</span>
            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
          </li>
        </ul>
      </div>
        <div class="text-center">
          <button class="text-md px-5 py-1 my-2 border rounded-full text-center">Read more</button>
        </div>
    </div>
  </div>

</main>


<footer class="main-change-bg px-10 py-10">
  <div class="grid md:grid-cols-3 grid-cols-1">

    <div class="text-center">
      <div class="font-bold py-2 lg:text-xl">SampleApp</div>
      <div class="text-xs">© 2022 MyPalette</div>
    </div>

    <div class="no_display">
      <div>
        <a class="mt-0 inline-block text-sm px-4 py-2 ">About</a>
      </div>
      <div>
        <a class="mt-0 inline-block text-sm px-4 py-2 ">Products</a>
      </div>
      <div>
        <a class="mt-0 inline-block text-sm px-4 py-2 ">News</a>
      </div>
    </div>

    <div class="no_display">
      <button class="mt-0 inline-block text-xl lg:px-10 px-6 py-2 border rounded-full">Contact</button>
    </div>

  </div>
</footer>