<footer class="bg-base-color px-2 my-20">
  <div class="flex justify-center items-center">
    <div class="inline-block align-middle px-2">
      <%= link_to "利用規約", terms_of_use_path, class: 'hover:underline hover:text-gray-600 hover:decoration-gray-600' %>
    </div>
    <div class="inline-block align-middle px-2">
      <%= link_to "プライバシーポリシー", privacy_policy_path, class: 'hover:underline hover:text-gray-600 hover:decoration-gray-600' %>
    </div>
    <div class="inline-block align-middle px-2">
      <%= link_to "お問い合わせ", '#', target: :_blank, rel: 'noopener noreferrer', class: 'hover:underline hover:text-gray-600 hover:decoration-gray-600' %>
    </div>
  </div>
  <hr class="my-2 border-b-1 border-bg-mitsuboshi-gray" />
  <div class="text-xs text-center">
    © 2022 MyPalette
  </div>
</footer>