<nav class="flex items-center justify-between flex-wrap bg-yellow-300 p-6">
  <div class="flex items-center flex-shrink-0 text-white">
    <span class="font-semibold text-xl tracking-tight">MyPalette</span>
  </div>

  <div class="hidden md:visible block flex md:flex lg:items-center lg:w-auto mr-1">
    <div>
      <%= link_to 'スキ Colors', mypage_palettes_likes_path, class:"mt-0 mx-1 inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-yellow-500 hover:bg-white"  %>
    </div>
    <div>
      <%= link_to 'My Colors', mypage_colors_path, class:"mt-0 mx-1 inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-yellow-500 hover:bg-white"  %>
    </div>
    <div>
      <%= link_to 'ログアウト', logout_path, method: :delete, class:"mt-0 mx-1 inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-yellow-500 hover:bg-white"  %>
    </div>
  </div>
</nav>