<% if current_user.like_second?(palette_second) %>
  <button class="px-3 py-2">
    <%= link_to palette_second_like_second_path(palette_second_id: palette_second.id, id: current_user.like_seconds.find_by(palette_second_id: palette_second.id)), method: :delete do %>
      <i class="fa-solid fa-heart red-heart"></i>
    <% end %>
  </button>
<% else %>
  <button class="px-3 py-2">
    <%= link_to palette_second_like_seconds_path(palette_second), method: :post do %>
      <i class="fa-regular fa-heart"></i>
    <% end %>
  </button>
<% end %>