<% if current_user&.own?(palette_second) %>
  <button class="text-white my-2 w-12">
    <%= link_to '詳細', palette_second_path(palette_second), class:"bg-green-400 hover:bg-green-300 px-2 py-2 rounded", data: {"turbolinks" => false} %>
  </button>
  <button class="text-white my-2 w-12">
    <%= link_to '削除', palette_second_path(palette_second), class:"bg-red-500 hover:bg-red-400 px-2 py-2 rounded", method: :delete, data: { confirm: "削除してもよろしいですか" } %>
  </button>
<% else %>
  <button class="text-white my-2 w-12">
    <%= link_to '詳細', palette_second_path(palette_second), class:"bg-green-400 hover:bg-green-300 px-2 py-2 rounded", data: {"turbolinks" => false} %>
  </button>
  <button class="px-3 py-2">
    いいね実装予定
  </button>
<% end %>