<div class="md:w-3/4 my-5 mx-auto">
  <div class="mx-auto">
    <% @palette_seconds.each do |palette_second| %>
      <%= render partial: 'shared/unablecolor2', locals: {palette_second: palette_second} %>
    <% end %>
  </div>
  <div class="">
    <%= paginate @palette_seconds %>
  </div>
</div>
