<% if page.current? %>
  <li class="page-item active px-1">
    <%= content_tag :a, page, data: { remote: remote }, rel: page.rel, class: 'page-link' %>
  </li>
<% else %>
  <li class="page-item px-1">
    <%= link_to page, url, remote: remote, rel: page.rel, class: 'page-link', data: { turbolinks: false } %>
  </li>
<% end %>
