<div class="">
  <div class="flex my-5">
    <div class="text-center w-1/2">
      <%= link_to "Profile", "#", class: "p-1 block #{active_if('mypage/profile')}" %>
    </div>
    <div class="text-center w-1/2">
      <%= link_to "My colors", "#", class: "p-1 block #{active_if('mypage/colors')}" %>
    </div>
  </div>


  <div class="my-5">
    <% @palettes.each do |palette| %>
      <%= render partial: 'shared/unablecolor', locals: {palette: palette} %>
    <% end %>
  </div>
</div>