// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// @media screen and (min-width:768px) {
.tooltip { /* 補足説明するテキストのスタイル */
  position: relative;
  cursor: pointer;
  padding: 0 5px;
  color: #000000;
}

.description_right { /* ツールチップのスタイル */
  width: 250px;
  position: absolute;
  transform: translateY(-50%);
  padding: 8px;
  border-radius: 10px; /* 角の丸み */
  background: rgba(51,51,51,.6);
  font-size: 0.7em;
  left: -500%;
  bottom: 0%;
  color: #fff;
  text-align: center;
  visibility: hidden; /* ツールチップを非表示に */
  opacity: 0; /* 不透明度を0％に */
  z-index: 1;
  transition: 0.5s all; /* マウスオーバー時のアニメーション速度 */
}

.tooltip:hover .description_right { /* マウスオーバー時のスタイル */
  left: -500%; /* X軸の位置 */
  bottom: 0%;
  visibility: visible; /* ツールチップを表示 */
  opacity: 1; /* 不透明度を100％に */
}

.arrow-down {
  font-size: 40px;
  color: #C5C4C4;
}

.section {
  margin-bottom: 6rem ;
}